[Unit]
Description=automatically switches jackdbus master device
After=suspend.target
After=default.target
After=hibernate.target

[Service]
Type=forking
ExecStart=/usr/bin/jackman_udev_plug %I &
Restart=on-failure
RestartSec=20
StartLimitInterval=100
StartLimitBurst=3

[Install]
WantedBy=suspend.target
WantedBy=default.target
WantedBy=hibernate.target
